{% extends 'bezoeker.html.twig' %}
{% block content %}
    <div class="form">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row-12">
            <div class="col-12">
                {{ form_row(form.username) }}
                {{ form_label(form.plainPassword, 'Password') }}
                {{ form_widget(form.plainPassword) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.preprovision) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.dateofbirth) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.email) }}
                <a href="{{ path('homepage') }}" class="btn-secondary btn">Back</a>
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}